<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msf.metasploit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.metasploit.msf.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.metasploit.msf.permission.C2D_MESSAGE" />

    <application
        android:name=".MsfApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/.*"
                    android:scheme="msf" />
            </intent-filter>
        </activity>

        <!-- <activity android:name="com.metasploit.msf.activities.ConsoleActivity" > -->
        <!-- </activity> -->
        <!--  -->
        <!-- <activity android:name="com.metasploit.msf.activities.SessionActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data -->
        <!-- android:host="session" -->
        <!-- android:pathPattern="/.*" -->
        <!-- android:scheme="session" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.metasploit.msf" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        <service android:name=".rpc.RpcService" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
